<home>
   <body>
      <title>Plagiarism Checker</title>
      <form action="http://127.0.0.1:5000" method="POST">
         <p>Input Text : </p>
         <p><textarea name="query" rows="8" cols="50" autofocus>{{query}}</textarea></p>
         <br>
         <p><input type="submit" name="submit" value="CHECK PLAGIARISM"></p>
         <br>
         <p><h3>{{output}}</h3></p>
      </form>

      <form action="/check_jaccard" method="POST">
         <p>Input Text for Jaccard Similarity : </p>
         <p><textarea name="jaccard_query" rows="8" cols="50" autofocus>{{jaccard_query}}</textarea></p>
         <br>
         <p><input type="submit" name="submit" value="CHECK JACCARD SIMILARITY"></p>
         <br>
         <p><h3>{{jaccard_output}}</h3></p>
      </form>

      <!-- New form for the new plagiarism checking technique -->
      <form action="/new_plagiarism_check" method="POST">
         <p>Input Text for New Plagiarism Check : </p>
         <p><textarea name="new_plagiarism_query" rows="8" cols="50" autofocus></textarea></p>
         <br>
         <p><input type="submit" name="submit" value="CHECK NEW PLAGIARISM"></p>
         <br>
         <p><h3>{{new_plagiarism_output}}</h3></p>
      </form>
   </body>
</home>
